@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:400,500,700&display=swap');

:root {
    --light-green: #7ed56f;
    --medium-gren: #55c57a;
    --dark-green: #28b485;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

*::selection{
    background-color: var(--dark-green);
    color: #fff;
}

body {
    font-family: 'Roboto', 'Montserrat', 'Verdana', sans-serif !important;
}

.landing {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../img/recycling-background-full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.nav-menu, nav {
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.nav-menu {
    display: flex !important;
    flex-direction: row !important;
}

nav ul li a {
    font-size: 1rem !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    transition: all 0.2 ease-in;
    text-decoration: none;
}

#cootemarpi-logo {
    width: 50px;
    height: 50px;
    margin: 8px 0;
}

.banner {
    height: 80vh;
    display: flex;
}

.logo {
    /* width: auto !important; */
    display: inline;
}

.banner {
    justify-content: center;
    align-items: center;
}

.greetings-text h1{
    font-size: 2.5rem;
    margin: 10px;
}

.greetings-text .greetings {
    animation: moveInRight 1s ease-out;
}

.greetings-text .trademark {
    animation: moveInLeft 1s ease-out;
}

@media only screen and (max-width: 1159px) {
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Animations */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}